{% extends "base.html" %}
{% block content %}

<form method="POST">
    <label name="player1">
        <select name="player1" name="player1" onchange="updateWinnerOptions()">
            {% for char in chars %}
            <option value="{{ char }}">{{ char }}</option>
            {% endfor %}
        </select>

        <label>Player 2:</label>
        <select name="player2" name="player2" onchange="updateWinnerOptions()">
            {% for char in chars %}
            <option value="{{ char }}">{{ char }}</option>
            {% endfor %}
        </select>

        <label|>Winner:</label>
        <select name="winner">
            {% for char in chars %}
            <option value="{{ char }}">{{ char }}</option>
            {% endfor %}
        </select>

        <button type="submit">Salvar</button>
    </form>

    <a href="{{ url_for('index') }}">← Voltar</a>
    {% endblock %}
    <body onload="updateWinnerOptions()">

    <script>
        function updateWinnerOptions() {
            const p1 = document.getElementById('player1').value;
            const p2 = document.getElementById('player2').value;
            const winner = document.getElementById('winner');


            winner.innerHTML = '';



            if (player1) {
                const opt1 = document.createElement('option');
                opt1.value = player1;
                opt1.textContent = player1;
                winner.appendChild(opt1);
            }

            if (player2 && player2 !== player1) {
                const opt2 = document.createElement('option');
                opt2.value = player2;
                opt2.textContent = player2;
                winner.appendChild(opt2);
            }
        }
    </script>

    